<!DOCTYPE html>
<html>
  <head>
    <!-- 4.2 provideでタイトルが渡されない場合も正しいタイトルを表示する
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- static_page以下のhtmlファイルがこの位置に差し込まれる。 -->
    <%= yield %>
  </body>
</html>